<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-switcher-interval="3000" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Yay!!!. Hackathon" data-moreinfo="Protip: You can drag the widgets around!"></div>
      <div data-id="props" data-view="Text" data-title="Props" data-text="To the team"></div>
      <div data-id="all_users" data-view="Number" data-title="All Users" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="piechart" data-view ="PieChart"  data-moreinfo="Tech Board" data-left-margin="5" data-top-margin="10"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="student_breakdown" data-view="List" data-unordered="true" data-title="Current Users"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sales_total" data-view="Meter" data-title="2016 Yearly Revenue" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_atl_bookings" data-view="Meter" data-title="2016 Q4 ATL Bookings" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="all_users" data-view="Number" data-title="All Users" style="background-color:#96bf48;"></div>
      <i class="fa fa-heart icon-background"></i>
    </li>

  </ul>
</div>
